* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-logo img {
  height: 40px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(30, 30, 46, 0.5);
  height: 60px;
}
.navbar-links {
  display: flex;
  gap: 20px;
  a {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: under;
    }
  }
}

.main-contain {
  margin-top: 80px;
}
.login-form,
.login-body {
  text-align: center;
}
body {
  background-color: rgb(30, 30, 46);
  color: white;
}

.movie-image {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movie-cards {
  margin: 10px;
  text-align: center;

  transition: transform 0.2s;
}
.movie-cards:hover {
  transform: scale(1.05);
}
.movie-title {
  font-size: 16px;
  margin-top: 10px;
  color: white;
  text-align: center;
}
.movie-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-around;
  padding: 20px;
}

.form-register {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 80px;
}
.form {
  border-radius: 8px;
  flex-direction: column;

  display: flex;
  max-width: 400px;
}
.log {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 8px;
}

.content {
  min-height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.movie-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  width: 90%;
}

@media (max-width: 1024px) {
  .navbar {
    padding: 10px;
  }

  .movie-image {
    max-width: 250px;
  }

  .movie-info {
    width: 90%;
  }

  .movie-list {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
  }
}

@media (max-width: 768px) {
  .navbar {
    height: 50px;
  }

  .movie-image {
    max-width: 200px;
  }

  .movie-info {
    padding: 15px;
  }
}
