* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-logo img {
  height: 40px;
  transition: transform 0.3s ease;
}

.navbar-logo img:hover {
  transform: rotate(10deg) scale(1.1);
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.main-contain {
  margin-top: 80px;
}
.login-form,
.login-body {
  text-align: center;
}
body {
  background-color: rgb(30, 30, 46);
  color: white;
}

.movie-image {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movie-cards {
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  transition: transform 0.2s;
}
.movie-cards:hover {
  transform: scale(1.05);
}
.movie-title {
  font-size: 16px;
  margin-top: 10px;
  color: white;
  text-align: center;
}
.movie-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-around;
  padding: 20px;
}

.form-register {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 80px;
}
.form {
  border-radius: 8px;
  flex-direction: column;

  display: flex;
  max-width: 400px;
}
.log {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 8px;
}

.content {
  min-height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.movie-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  width: 90%;
}

.cart {
  margin-left: 20px;
}

.movie-cart {
  margin: 10px;
  text-align: center;

  transition: transform 0.2s;
}
.movie-cart:hover {
  transform: scale(1.05);
}

.banner {
  width: 50px;
  height: 50px;
}

@media (max-width: 1024px) {
  .navbar-links {
    gap: 15px;
    align-items: center;
  }

  .navbar {
    padding: 10px;
    flex-direction: column;
    height: auto;
  }

  .movie-image {
    max-width: 250px;
  }

  .movie-info {
    width: 90%;
  }

  .movie-list {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
  }
}

@media (max-width: 768px) {
  .navbar {
    height: 50px;
  }

  .movie-image {
    max-width: 200px;
  }

  .movie-info {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .navbar {
    align-items: flex-start;
    padding: 5px;
  }

  .movie-info {
    font-size: 0.9rem;
  }

  .movie-list {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

.form-register {
  max-width: 400px;
  margin: 50px auto;
  background-color: #1e1e2f;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-family: Arial, sans-serif;
}

.form-register button {
  width: 100%;
  padding: 14px;
  background-color: #5e81f4;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition:
    backround-color 0.3s,
    transform 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-register button:hover {
  background-color: #4c70f5;
  transform: translateY(-2px);
}

.form-register button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(94, 129, 244, 0.8);
}

.form-register input {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
  transition: border-color 0.3s ease;
  background-color: white;
}

.form-register input::placeholder {
  color: #aaa;
  font-style: italic;
  font-size: 0.9rem;
}

.form button {
  width: 100%;
  padding: 14px;
  background-color: #5e81f4;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form button:hover {
  background-color: #4c70f5;
  transform: translateY(-2px);
}

.form button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(94, 129, 244, 0.8);
}

.form input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  color: #333;
  background-color: #f7f7f7;
  transition: all 0.3s ease;
}

.form input:hover {
  border-color: #5e81f4;
  background-color: #fff;
}

.form input:focus {
  outline: none;
  border-color: #5e81f4;
  box-shadow: 0 0 5px rgba(94, 129, 244, 0.5);
}

.form label {
  font-size: 0.9rem;
  margin-bottom: 5px;
  display: block;
  font-weight: 600;
}
.card-container {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 15px;
}

.collaborator-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about {
  grid-column: 1 / -1;
  border-radius: 10px;

  text-align: center;
  padding: 20px;
}

.collaborator-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.link-logo {
  width: 120px;
}

@media (max-width: 1024px) {
  .about-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.button {
  background-color: yellow;
  padding: 5px;
}

.cart-home {
  text-align: center;
  width: 100%;
  background-color: yellow;
  padding: 5px;
}
.cart-count {
  top: -8px;
  right: -8px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
}
